<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986345945432-5udlcsk556jd1jerkih472vvcmv6ovs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986345945432-5udlcsk556jd1jerkih472vvcmv6ovs6</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0ZbYh-Jovj6sal7UDYDEO5WK5DK8tZA</string>
	<key>GCM_SENDER_ID</key>
	<string>986345945432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week6TastTwo</string>
	<key>PROJECT_ID</key>
	<string>coffeeapp-94927</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeapp-94927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986345945432:ios:08b6b35138c0906e434d2d</string>
</dict>
</plist>